@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    justify-content: center;
}

div{
    width: 25%;
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 25px;
    margin-top: 50px;
    text-align: center;
}

img{
    width: 100%;
    border-radius: 25px;
}

h1{
    font-weight: 600;
    color: hsl(218, 44%, 22%);
}

p{
    font-weight: 300;
    color: hsl(216, 15%, 48%);
}